.highlight {
    background-color: #eee;
    padding: 2em;
}
ul, p{
    padding: 0px;
}
body {
    font-family: Avenir Next;
    font-size: larger;
    margin: auto;
    width: auto;
    height: 100%;
    line-height: 1.4;
}

@media (min-width: 900px) {
    body {
        width: 800px;
    }
}

.site-title{
    margin-top: 5em;
    margin-bottom: 0em;
}

.site-title a{
    text-decoration: none;
    color: #000000;
    font-size: 3em;
    color: #000000;
}

.site-description{
    font-size: 1em;
    color: #000000;
}

.content {

}

p.nav_links > a{
    text-decoration: none;
}

.postlist{
    list-style: none;
}

.postlist__post_url{
    font-size: 2.5em;
    color: #000000;
    text-decoration: none;
}

.post-title{
    font-size: 2.5em;
    color: #000000;
    text-decoration: none;
    margin: 0em;
}

.post-content, .postlist__post_brief{
    font-size: 1em;
    color: #000000;
    line-height: 1.4;
}

.post-content img {
    width: 100%;
    border: 5px solid #eee;
}
.post-date,.postlist__post_meta{
    font-size: 1em;
    color: #808080;
}

.postlist__post_title{
    padding: 0em;
    margin: 0em;
}

.postlist__post {
    margin-bottom: 5em;
}

.hero{
    height: 150px;
}

.hero-small{
    height: 40px;
}

.hero-btiles {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background-color: white;
}
/* The animation code */
@keyframes growwidth {
       0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.bgtile {
    height: 100%;
    width: 33%;
    border: 0px;
    border-bottom: 10px;
    border-style: double;

    animation-name: growwidth;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

.bgtile:nth-child(1){

    border-color: rgba(220, 189, 189, 0.5);
    display: flex;
}

.bgtile:nth-child(2){
    border-color: #551A8B;
}

.bgtile:nth-child(3){
    border-color: #0000FF;
}

.hero-title {
    font-family: AmericanTypewriter;
    font-size: 48px;
    color: #4A4A4A;
    letter-spacing: 0.2px;
    align-self: center;
}
.hero-title a{
    text-decoration: none;
}

.content-resume {
     
}

.content-resume h1 {
    border-bottom: 2px solid;
}

.content-resume h2 {
    border-bottom: 1px solid;
    color: #666;
}

.content-resume h3{
    margin: 0px;
    margin-top: 10px;
    border: 0px;
    border-bottom: 1px;
    border-style: ridge;
}

.content-resume h6{
    margin: 0px;
}

.content-resume h4 {
    margin: 0px;
}
.content-resume ul {
    list-style-type: circle;
}

