.highlight {
    background-color: #eee;
    padding: 0.5em;
    overflow: scroll;
}

ul, p{
    padding: 0px;
}

body {
    font-family: Avenir Next;
    font-size: larger;
    margin: auto;
    width: auto;
    height: 100%;
    line-height: 1.4;
}

@media (min-width: 960px) {
    body {
        width: 960px;
    }
}

.site-title{
    position: fixed;
    left: 0;
    top: 0;
    background: green;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.site-title a{
    text-decoration: none;
    color: #000000;
    font-size: 3em;
    color: #000000;
}

.site-description{
    font-size: 1em;
    color: #000000;
}

.content {
    box-shadow: 0.3px 0.3px 2px #eee;
    border: 1px solid #eee;
    padding: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 4em;
}

p.nav_links > a{
    text-decoration: none;
}

.postlist{
    list-style: none;
}

.postlist__post_url{
    font-size: 1.8em;
    color: #000000;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.post-title{
    font-size: 1.8em;
    color: #000000;
    text-decoration: none;
    margin: 0;
}

.post-content, .postlist__post_brief{
    font-size: 1em;
    color: #000000;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-wrap: break-all;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.post-content img {
    width: 100%;
    border: 5px solid #eee;
}
.post-date,.postlist__post_meta{
    font-size: 0.8em;
    font-style: italic;
    color: #808080;
}
.postlist__post_tag{
    color: #ccc;
    display: block;
    font-style: italic;
    font-weight: 600;
}

.postlist__post_title{
    padding: 0em;
    margin: 0em;
    word-wrap: break-word;
    hyphens: auto;
}

.postlist__post {
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}


.content-resume {
    padding: 2em;
    font-size: 22px;
}

.content-resume h2 {
    border-bottom: 1px solid;
}
.content-resume h3 {
    margin-bottom: 2px;
}
.content-resume h4 {
    margin-bottom: 2px;
}
.content-resume h6 {
    margin: 0px 2px
}
.content-resume ul {
    margin: 10px;
    list-style-type: circle;
}

.content-resume hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.site-title {


}

.header {
    padding-top: 1.5em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header_links{
    text-align: right;
    width: 100%;
}

.header_links a{
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: #888;
    font-weight: 400;
}

.hero-title{
    font-family: American Typewriter;
    font-size: 48px;
    padding-left: 1em;
    letter-spacing: 0.2px;
}

.hero-title a{
    color: #000;
    text-decoration: none;
}

@media (max-width: 450px){
    .content {
        padding: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border: 0px;
    }
    .header{
        padding-top: 1em;
        padding-bottom: 1em;
        background: #f6f6f6;
        flex-direction: column;
    }
    .hero-title {
        padding-left: 0.5em;
        font-size: 30px;
    }
    .header_links {
        text-align: left;
        margin-top: 1em;
    }
}
