---
layout: page
title: Blog Categories
---

<ul>
{% for category in site.categories %}
    <dl class="list" id="#{{ category_name | slugize }}">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <dt><a name="{{ category_name | slugize }}" href="/categories#{{category_name|slugize}}">{{category_name}}</a></dt>
    {% for post in site.categories[category_name] %}
    <dd>
        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
        <dd>
    {% endfor %}
    </dl>
{% endfor %}
</ul>
