---
layout: default
---

{% for post in site.posts limit:1%}
<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      <a class="title is-1" href="{{ post.url }}/">{{ post.title | escape }}</a>
      </h1>
      <p class="subtitle content">
        {{post.content | strip_html | truncatewords:200 }}
      </p>
    </div>
  </div>
</section>
{% endfor %}

<section class="section">
  <h2 class="title is-3">Recent posts</h2>
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    {% for post in site.posts limit:4%}
    <article class="column is-one-quarter">
      <div class="box">

        <a class="title is-4 is-spaced" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        <p class="subtitle is-6">
          {{ post.date | date: "%b %-d, %Y" }}      #{{ post.categories }}
        </p>
        <div class="content">
          {{post.content | strip_html | truncatewords:30 }}
        </div>
      </div>

    </article>
    {% endfor %}
  </div>
</section>
