<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
    <body class="">
        <nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="is-size-4-tablet navbar-item" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/about">About</a>
                    <a class="navbar-item" href="/archives">Archives</a>
                    <a class="navbar-item" target="_blank" rel="noopener" href="https://github.com/srih4ri">Github</a>
                    <a class="navbar-item" target="_blank" rel="nofollow" href="mailto:srih4ri+srvr@gmail.com?Subject=Hello Srihari!" target="_blank">Contact</a>
                    <a class="navbar-item" href="/resume">Resume</a>
                </div>
            </div>
        </nav>
        <section class="container p-2 mt-2">
            {{content}}
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <p>
                        {{site.tagline}}
                    </p>
                    <p>
                        {% for tag in site.categories %}
                            <a class="tag" href="/categories#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
                        {% endfor %}
                    </p>
                    <p>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="button is-small">Subscribe via RSS</a></p>
                </p>

                </p>
            </div>
        </footer>
    </body>
</html>
